body{
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#fff7ed,#eef2ff);
}

.place-section{
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
}

.page-title{
  text-align:center;
  font-size:42px;
  color:#0f172a;
  margin-bottom:8px;
}

.page-subtitle{
  text-align:center;
  color:#64748b;
  margin-bottom:40px;
}

.place-card{
  background:white;
  padding:22px;
  border-radius:24px;
  margin-bottom:35px;
  box-shadow:0 15px 35px rgba(0,0,0,0.12);
  transition:.3s;
}

.place-card:hover{
  transform:translateY(-8px);
}

.place-images{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:14px;
}

.place-images img{
  width:100%;
  height:210px;
  object-fit:cover;
  border-radius:18px;
}

.place-content{
  padding: 10px 5px;
}

.tag{
  background:#fff3e6;
  color:#ff7a00;
  padding:8px 14px;
  border-radius:30px;
  font-weight:bold;
  width:max-content;
  margin-bottom:12px;
}

.place-content h3{
  font-size:28px;
  color:#0f172a;
  margin-bottom:12px;
}

.place-content p{
  color:#64748b;
  line-height:1.6;
}

.place-content button{
  width:max-content;
  padding:12px 24px;
  border:none;
  border-radius:12px;
  background:#ff7a00;
  color:white;
  font-weight:bold;
  margin-top:15px;
}
.poojai{
  background:#fff7d6;
  color:#b45309;
}

.poojai-card{
  border-left:6px solid #f59e0b;
}

.details-box{
  margin-top:20px;
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.details-box input,
.details-box select{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:1px solid #ddd;
  border-radius:10px;
}

.details-box button{
  width:100%;
  padding:14px;
  border:none;
  background:#ff7a00;
  color:white;
  border-radius:10px;
}
.body{
    min-height:100vh;
    padding:60px 20px;

    background:
      linear-gradient(
        rgba(255,255,255,0.85),
        rgba(255,255,255,0.85)
      ),
      url('images/4011087171522283.jpg');

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

@media(max-width:768px){
  .place-card{
    grid-template-columns:1fr;
  }

  .place-images{
    grid-template-columns:1fr;
  }
}